<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
<listeners><listener class-name="academy.Listeners"></listener></listeners>

	<test thread-count="5" name="tittle" >
		<classes>
			<class name="academy.Homepage" />
			
		</classes>
	</test>

	<test name="homepage">
		<classes>
			<class name="academy.gettitle" />
		</classes>
	</test>
	<test name="navigation">
		<classes>
			<class name="academy.checknavigationbar" />
		</classes>
	</test> 	
  <test name="forgotpassword">
		<classes>
			<class name="academy.Forgetpassword" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->